<h1> <%= @shelter.name %></h1>

<% @shelter.pets.each do |pet| %>
  <p></p>
  <p></p>
  <h2><%= pet.name %></h2>
  <p>Age: <%= pet.age %></p>
  <p>Sex: <%= pet.sex %></p>
  <img src=<%=pet.image%> width="100" height="100">
<% end %>
