<div class="topnav">
  <a href="/pets/">Pets Index</a>
  <a href="/shelters">Shelters Index</a>
</div>

<h1><a href="/shelters/<%= @shelter.id%>"><%= @shelter.name %></a></h1>
<a href="/shelters/<%= @shelter.id %>/pets/new">Create pet</a>
<% @shelter.pets.each do |pet| %>
  <p></p>
  <p></p>
  <h2><a href="/pets/<%= pet.id%>"><%= pet.name %></a></h2>
  <p>Age: <%= pet.age %></p>
  <p>Sex: <%= pet.sex %></p>
  <img src=<%=pet.image%> width="100" height="100">
  <form action="/pets/<%= pet.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Pet" id="Delete Pet <%= pet.id %>"/>
  </form>
<% end %>
