<%= form_tag "/pets/#{@pet.id}", method: :patch do %>
  <h3> Edit shelter </h3>
  <%= label_tag :name %>
  <%= text_field_tag :name, @pet.name %>
  <p></p>
  <%= label_tag :image %>
  <%= text_field_tag :image, @pet.image %>
  <p></p>
  <%= label_tag :age %>
  <%= text_field_tag :age, @pet.age %>
  <p></p>
  <%= label_tag :sex %>
  <%= text_field_tag :sex, @pet.sex %>
  <p></p>
  <%= label_tag :description %>
  <%= text_field_tag :description, @pet.description %>
  <p></p>
  <%= submit_tag 'Update Pet' %>
<% end %>
