<%= form_tag "/shelters/#{@shelter_id}/pets" do %>
  <h3> Create a new pet </h3>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <p></p>
  <%= label_tag :age %>
  <%= text_field_tag :age %>
  <p></p>
  <%= label_tag :image %>
  <%= text_field_tag :image %>
  <p></p>
  <%= label_tag :description %>
  <%= text_field_tag :description %>
  <p></p>
  <%= label_tag :sex %>
  <%= text_field_tag :sex %>
  <p></p>
  <%= submit_tag 'Create Pet' %>
<% end %>
