<div class="topnav">
  <a href="/pets/">Pet's Index</a>
  <a href="/shelters">Shelter's Index</a>
</div>

<h2><%= @pet.name %></h2>
<p>Age: <%= @pet.age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Status: <%= @pet.status %></p>
<img src=<%=@pet.image%> width="100" height="100">
<p><%= @pet.description %></p>
<a href="/pets/<%= @pet.id %>/edit">Update pet</a>
<form action="/pets/<%= @pet.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete" id='Delete Pet'/>
</form>
